extends ./layout/index

block slider 
    .slider
        h1 Rio de Janeiro 
        p aventura



block contenido
    main.container.mt-5  
        h2.text-center.mb-5 Sobre Nosotros 
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eros nisi, eleifend interdum cursus in, imperdiet ac tellus. Mauris pharetra justo eget quam sagittis ultricies. 

                p Morbi commodo mauris quam, eget malesuada tortor sollicitudin et. Vestibulum eget est a tellus dictum vulputate vel quis nibh. Mauris eget sapien ipsum. Quisque cursus nisi tortor, eget fringilla dolor dictum id. Cras at ante sed nulla iaculis dapibus. 

            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        include ./layout/bloque-viajes

    .descuento 
        .container 
            .row 
                .col-md-6
                    .contenido 
                        h3 5% de Descuento
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD 
    .container 
        h2.mt-5.text-center Tstimoniales 
        include ./layout/bloque-testimoniales
