extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet tristique lorem. Aliquam at sollicitudin neque. In risus purus, mattis cursus sapien vitae, aliquam rhoncus nisi. Pellentesque sagittis nulla in laoreet convallis. Etiam neque tellus, rutrum et dolor eget, lacinia interdum massa. Vivamus sit amet dolor id felis consectetur blandit. Aliquam erat volutpat. 

                p Suspendisse sed nunc molestie risus pulvinar sodales vel a lectus. Nullam quis nibh ac urna maximus pretium eget sed nisl. Maecenas commodo nulla dolor, vitae suscipit ex cursus in. Nunc eu finibus enim, vitae elementum tortor. 

                p Aenean elementum scelerisque ante, sed sollicitudin neque sodales sed. Nullam convallis urna sit amet justo efficitur, eget pulvinar risus tempor. Sed dolor elit, fringilla quis tortor eget, porttitor consectetur erat. Aliquam laoreet arcu sed mauris cursus efficitur. Praesent egestas, turpis vel rutrum efficitur, tellus nunc auctor lectus, ut scelerisque nulla risus a tellus. Proin lobortis ligula non ipsum porta tincidunt. 
    
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Praesent egestas, turpis vel rutrum efficitur, tellus nunc auctor lectus, ut scelerisque nulla risus a tellus. Proin lobortis ligula non ipsum porta tincidunt. 
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Praesent egestas, turpis vel rutrum efficitur, tellus nunc auctor lectus, ut scelerisque nulla risus a tellus. Proin lobortis ligula non ipsum porta tincidunt.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Praesent egestas, turpis vel rutrum efficitur, tellus nunc auctor lectus, ut scelerisque nulla risus a tellus. Proin lobortis ligula non ipsum porta tincidunt.


